<div class="feedback">
    <h1>Chat model feedback</h1>
 <h3>Information</h3>

    <p>
We’d love to hear examples where our models did not meet your expectations. Sharing submissions helps our research team improve our models.

Please note that by filling out this form, you agree to allow OpenAI to use this data to improve the model⁠(opens in a new window) via training and evaluations.</p>
</div>

<div class="feed">
    <p>Submit feedback</p>
    <form action="">
        <label>Email*</label><br>

    <input type="twxt" placeholder="  jane@example.com"><br><br>
    <label>System message and chat log *</label><br>
    <input type="text" class="msg" >
    <h6>You can copy your conversation by clicking “Copy to clipboard” in the dialog window<br> for submitting feedback in Playground.</h6>
    <label>What were you expecting from the completion? *</label><br>
    <input type="text" class="msg" >
    <h6>Please share either the ideal output or characteristics that would make an<br> ideal output.</h6>

    <label>Would you be interested in being contacted for further collaboration with our research team? *</label><br>
    <input type="radio" name="expectations" value="yes"> Yes<br>
    <input type="radio" name="expectations" value="no"> No<br>
    <label>Is there anything else you’d like to share about your experience?
</label><br>
    <input type="text" class="msg" >

    </form>
    <button>Submit</button>
    
    <div class="footer4">
<app-footer></app-footer>
    </div>
    
</div>